# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
/.pnp
.pnp.*

# Testing
/coverage

# Next.js
.next/
/out/

# Production builds
/build
/dist
build/
dist/

# Turborepo
.turbo/
.turbo

# Bun
.bun
bun.lockb

# Package managers
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env*
!.env.example

# macOS
.DS_Store
*.pem

# IDEs
.idea/
*.swp
*.swo

# Logs
logs
*.log

# TypeScript
*.tsbuildinfo
next-env.d.ts

# ESLint
.eslintcache

# Vercel
.vercel

# Temporary folders
tmp/
temp/
